[submodule "reference/jupyterlab-workshop"]
	path = reference/jupyterlab-workshop
	url = https://github.com/GrahamDumpleton/jupyterlab-workshop
[submodule "reference/wrapt"]
	path = reference/wrapt
	url = https://github.com/GrahamDumpleton/wrapt
